* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0px;
    padding: 0;

}

.menu{
    background-image: url("./images/img3.jpg");
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    background-size: cover;
    
}
ul {
    list-style-type: none;
    padding-right: 20px;

}

li {
    display: inline-block;

}

li a {
    color: rgb(172, 101, 113);
    text-decoration: none;
    float: left;
    padding: 5px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top:5px;
    font-size: larger;
    position: sticky;
}

a:hover {
    color: aliceblue;
    background-color: rgb(172, 101, 113);
    border: 0.1px solid rgb(172, 101, 113);
    border-radius: 3px;
}
.text{
    margin-top: 150px;
    margin-left:170px;
    font-size:45px;
    

}
.sm{
    margin: 10px;
    padding-left:170px;
    font-weight:lighter;
}
.p1{
    margin-top: 360px;
    margin-right: 150px;
    float:right;
    border:2px solid rgb(172, 101, 113);
    padding: 30px 20px;
    font-weight: 200;
}
.p1 a{
    color: aliceblue;
    font-size: larger;
    text-decoration: none;
    border: 0.1px solid rgb(172, 101, 113);
    padding:5px;       
    border-radius: 3px;
    background-color:rgb(172, 101, 113);          
}
 img{
    float:right;
    margin-right: 50px;
    margin-top: 130px;
    border: 2px solid rgb(172, 101, 113);
    
    
}
.page2{
    background-image:url("./images/page2.jpg");
    background-size: cover;
    height:700px;
    width:100%;
}
.pg2{
    background-color:#232c2c;
    color:#42aaaa;
    display:inline;
    border: 1px solid #232c2c;
    border-radius:2px;
    padding:15px;
    margin-top: 60px;
    margin-left: 520px;
    position: absolute;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size:25px;
    font-weight:100;
}
.pg3{
    margin-top: 150px;
    margin-left: 190px;
    position: absolute;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(71, 145, 138);
    font-size: 95px;       
}
.pg4{
    margin-top: 400px;
    position: absolute;
    font-size:20px;
    width:650px;
    text-align:center;
    margin-left: 350px;
    font-weight: 400;
    color: #3f4e4e;
}
.page3{
     background-image: url("./images/page3.jpg");
     background-size: cover;
     height: 700px;
    
  }
  .page3 img{
    margin-top: 100px;
    margin-left: 100px;
    border:2px solid #42aaaa;
    float: left;
    
  }
  .page3 h1{
            
    margin-top: 200px;
    margin-left: 500px;
    font-size: 95px;
    font-weight: lighter;
    color: #2b3535;
    position: absolute;
  }
  .page3 p{
    margin-top: 420px;
    width: 500px;
    margin-left: 510px;
    font-size: 15px;
    font-weight: lighter;
    color: #2b3535; 
    position: absolute;    

  }
  .page3 a{
    color: aliceblue;
    font-size: larger;
    text-decoration: none;
    border: 0.1px solid rgb(172, 101, 113);
    border-radius: 3px;
    padding:5px;       
    background-color:rgb(172, 101, 113);
    margin-left: 20px;
    margin-top: 500px;
    position: absolute;
    
  }
  .page4{
   
    background-image: url("./images/img3.jpg");
    background-repeat: no-repeat;
    height: 655px;
    width: 100%;
    background-size: cover;     
}
.pg4h1{           
  font-size: xx-large;
  font-weight: lighter;
  margin-top: 50px;
  position:absolute;
  margin-left: 530px ;
  color:rgb(15, 77, 77) ;
}  
.one{
  background-color: antiquewhite;
  height:400px;
  width:23%;
  margin-top: 150px;
  margin-left: 100px;
  position: absolute;
  border:2px solid rgb(218, 162, 145);
}
.two{
  background-color: antiquewhite;
  height:400px;
  width:23%;
  margin-top: 150px;
  margin-right: 100px;
  float:right;
  border:2px solid rgb(218, 162, 145);
}   
.three{
  background-color: antiquewhite;
  height:400px;
  width:23%;
  margin-top: 150px;
  margin-right: 100px;
  float:right;
  border:2px solid rgb(218, 162, 145);
}
.total h1{
    text-align: center;
    font-size: 70px;
    font-weight: lighter;
    padding-top: 70px;
}
.total h2{
    text-align: center;
    font-size: 35px;
    font-weight: lighter;
    letter-spacing: 3px;
}
.total p{
   width: 250px;
   text-align: justify;
   padding-left: 30px;
   padding-top: 30px;
   position: absolute;
}
.total a{
  list-style-type: none;
  text-decoration: none;
  color: aliceblue;
  font-size: larger;            
  border: 0.1px solid rgb(172, 101, 113);
  border-radius: 3px;
  padding:5px;       
  background-color:rgb(172, 101, 113);
  margin-top:160px ;
  position: absolute;
  margin-left: 80px;   
}    
.page5{
    background-image: url("./images/page3.jpg");
    background-size: cover;
    height: 700px;

  } 
  .main{
    text-align: center;
    font-weight: lighter;
    padding-top: 55px;
    color: #35322b;
    font-size:50px;
    word-spacing: 10px;
  }
  .page5 .impg5{
    /* float: left; */
     margin-left:200px;
    border:2px solid #42aaaa;
    position: absolute;
    margin-top: 10px ;
    width:300px ;
    
  }
  .page5 .impg51{
     float:right; 
     margin-left:100px;
    border:2px solid #42aaaa;
    /* position: absolute; */
    margin-top: 10px ;
    width:300px ;
    margin-right:200px;
  }
  .page6{
    background-image: url("./images/page6.jpg");
    background-size: cover;
    height: 700px;
}
.page5 .head{
  padding-top: 450px;
  padding-left:200px;
  position: absolute;
  font-weight: lighter;
  font-size: 40px;

}
.page5 .aa1{
  list-style-type: none;
  text-decoration: none;
  color: rgb(172, 101, 113) ;
  border: 1px solid rgb(172, 101, 113);
  padding: 5px;
  margin-left: 200px;
  margin-top: 500px;
  position: absolute;
  font-weight: bold;
}
.page4 .head2{

}
.aa2{
  list-style-type: none;
  text-decoration: none;
  color: rgb(172, 101, 113) ;
  border: 1px solid rgb(172, 101, 113);
  padding: 5px;
  font-weight: bold;
  margin-top: 460px;
  position: absolute;
  margin-left: 850px;

}
.page6 .impg61{
  /* position: absolute; */
  margin-right: 345px;
  width:300px ;
  border: 1px solid rgb(31, 14, 17);
  margin-bottom: 10px;

}
.page6 .impg62{
  margin-right: 200px;
  /* position: absolute; */
  width:300px;
  display: inline;
  border: 1px solid rgb(71, 33, 40);
}
.head3{
  display: inline;
  margin-left: 200px;  
  font-weight: lighter;

  
}
.head4{
  float:right;
  margin-right: 265px;
  font-weight: lighter;
   
}
.aa3{
  list-style-type: none;
  text-decoration: none;
  color: rgb(172, 101, 113) ;
  border: 1px solid rgb(172, 101, 113);
  padding: 5px;
  font-weight: bold;
  margin-top: 35px;
   margin-left: 200px;
  
}
.aa4{
  list-style-type: none;
  text-decoration: none;
  color:  aliceblue;
  border: 1px solid rgb(172, 101, 113);
  padding: 5px;
  font-weight: bold;
   margin-top: 55px;
   margin-left: 550px;
   background-color:rgb(172, 101, 113);
  
}
.page7{
  background-image: url(./images/page7.jpeg);
  background-size: cover;
  height:700px ;
}
.impg7{
  height:450px;
  border: 2px solid rgb(175, 96, 109);
}
.head7{
  font-weight: bolder;
  font-size: 90px;
  letter-spacing: -10px;
  padding-top: 130px;
  padding-left: 130px;
  color:rgb(51, 18, 25) ;
}
  































